---
import { iconSvg } from '../../shared/icons';
---

<header class="topbar">
  <a class="brand" href="/" aria-label="Focus Tracker">
    <span class="brand-mark"></span>
    <span>Focus Tracker</span>
  </a>

  <a class="profile-link" href="/settings">
    <span class="profile-avatar">
      <span id="user-initials">FT</span>
    </span>
    <span id="user-name" class="profile-name"></span>
    <span set:html={iconSvg('chevron-down')}></span>
  </a>
</header>
